@import '~bootstrap/scss/bootstrap.scss';
@import 'components/navigation-bar/navigation-bar.scss';

.bi {
    height: 1em;
    width: 1em;
    vertical-align: -0.125em;
    margin-right: 5px;
}

.main_container {
    padding: 30px 12px;
}

.login {
    h2 {
        margin-bottom: 25px;
        color: $primary;
    }
}

form {
    margin-bottom: 20px;

    input {
        margin-bottom: 15px;
    }

    button[type=submit] {
        margin-top: 8px;
    }

}